<%- include('partials/header'); -%>
    <div class="consulta">
        <h1>CEP Consultado</h1>
        <p>CEP: <%= cep %></p>
        <p>Cidade: <%= cidade %></p>
        <p>Estado: <%= uf %></p>
    </div>
<%- include('partials/footer'); -%>